@import 'normalize.css';
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Roboto)
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-display {
  background-color: #8e8e8e;
  color: #ffffff;
}

.calculator-button {
  background-color: #e0e0e0;
  color: #000000;
}

.calculator-operator-button {
  background-color: #f5923e;
  color: #ffffff;
}